* {
    margin: 0;
    padding: 0;
}


/* styles for mobile devices */


body {
    background-color: rgb(49, 47, 47);
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 100px;
    padding: 10px;
}


.nav-bar-container ul {
    display: none;
}

.nav-bar-container .fa-bars {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px
}

.nav-bar-container ul li a {
    text-decoration: none;
    color: white;
}

.main-container {
    padding: 10px;
    text-align: center;
    color: white;
}

.logo-container img {
    width: 100%;
    border-radius: 50%;
}

.content-container h2 {
    font-size: 40px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.icons-flex {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.icon-box {
    background-color: lightgrey;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
}

.icon-box:active {
    box-shadow: 0px 0px 15px #98f023;
    transform: scale(0.88);
    transition: 0.3s;
}

.icon-box .fa-brands {
    font-size: 50px;
}

.icon-box .fa-css3 {
    color: navy;
}

.icon-box .fa-html5 {
    color: lightsalmon;
}

.icon-box .fa-square-js {
    color: yellow;
}

.icon-box .fa-git-alt {
    color: orange;
}

.icon-box small {
    color: black;
    font-size: 20px;
    opacity: 0.8;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.projects-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.2s;

}


.projects-container img:active {
    box-shadow: 0px 0px 20px #98f023;
    transform: scale(1.08);
    transition: 0.2s;
}

.positioning-container {
    position: relative;
    height: 450px;
}

.positioning-container p {
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    font-size: 30px;
    opacity: 0.7;
}


.hire-me {
    background-color: aqua;
    width: 50%;
    border-radius: 10px;
    height: 60px;
    margin: 30px;
    transition: 0.4s;
}

.hire-me:active {
    box-shadow: 0px 0px 20px #98f023;
    border: 1px solid transparent;
    transform: scale(1.002);
    transition: 0.4s;
}


.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

.footer-bottom {
    color: white;
    opacity: 0.8;
    margin-top: 20px;
    text-align: center;
}

@keyframes slideLeft {

    0% {
        transform: translateX(-300px) scale(0);

        opacity: 1;
    }

    100% {
        transform: translateX(0px) scale(1);

    }
}

@media (min-width: 1024px) and (max-width: 1440px) {



    .main-container {
        padding: 30px;
    }

    body {
        background-color: rgb(49, 47, 47);
        color: white;
    }

    .nav-bar-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-bar-container ul {
        display: flex;
        list-style-type: none;
        gap: 50px;

    }

    .nav-bar-container .fa-bars {
        display: none;
    }

    .nav-bar-container ul li a {
        text-decoration: none;
        color: white;
        opacity: 0.8;
    }

    .logo-container {
        background-color: lightgrey;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container img {
        width: 100px;
        border-radius: 50%;

    }

    .content-container {
        /* border: 2px solid red; */
        text-align: center;
    }

    .content-container h2 {
        font-size: 50px;
        margin-bottom: 30px;
        animation-name: slideLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;

    }

    .content-container p {
        font-size: small;
        opacity: 0.8;
        margin-bottom: 30px;
        animation-name: slideLeft;
        animation-duration: 1.2s;
        animation-delay: 0.6s;
        animation-timing-function: ease-in;
    }

    .icons-flex {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        margin-top: 30px;

    }

    .icon-box:hover {
        box-shadow: 0px 0px 15px #98f023;
        transition: 0.6s;
        cursor: pointer;
        transform: scale(1.05);
    }


    .icon-box {
        background-color: darkgrey;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        font-size: 70px;
        color: rgb(3, 55, 78);
        transition: all 0.3s;
    }

    .icon-box .fa-html5 {
        color: rgb(83, 60, 16);
    }


    .icon-box .fa-css3 {
        color: rgb(10, 8, 87);
    }


    .icon-box .fa-square-js {
        color: yellow;
    }

    .icon-box .fa-git-alt {
        color: orange;
    }

    .icon-box small {
        font-size: 15px;
        color: black;
        opacity: 0.7;
    }


    .positioning-container {
        width: 300px;
        position: relative;
        height: 300px;
        /* border: 2px solid red; */
        /* z-index: 1; */
    }

    .positioning-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid transparent;
        opacity: 0.6;
        transition: 0.4s;
    }


    .positioning-container img:hover {
        opacity: 0.8;
        transform: scale(1.1);
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0px 0px 25px rgb(9, 162, 9);
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        padding: 50px;
        gap: 30px;
        justify-content: space-between;
    }

    .projects-container p {
        position: absolute;
        /* z-index: 0; */
        bottom: 10px;
        left: 20px;
        font-size: 30px;

    }

    h4 {
        /* border: 1px solid blue; */
        text-align: center;
        font-size: 30px;
        opacity: 0.9;
        font-weight: 600;
        margin: 30px;
    }

    .declaration p {
        /* border: 1px solid red; */
        text-align: center;
        margin-top: 40px;
        letter-spacing: 2px;
        font-style: italic;
    }


    .hire-me {
        background-color: aqua;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        transition: 1s;
    }

    .hire-me:hover {
        box-shadow: 0px 0px 20px rgb(9, 162, 9);
        transform: scale(1.1);
        transition: all 1s;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-section {
        margin-top: 40px;
        text-align: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 40px;
        margin-top: 30px;
    }

    .social-icons .fa-facebook {
        color: blue;
    }

    .social-icons .fa-instagram {
        color: purple;
    }

    .social-icons .fa-twitter {
        color: skyblue;
    }




}